body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0px 166px;
}

.header {
  background-image: url(BGIMG.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-line {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-logo {
  margin-right: -5px;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;

  margin-right: 20px;

  transition: color 0.3s linear;
  width: 300px;
}

.nav-item-last {
  margin-right: 50px;
}

.nav-item:hover {
  color: #dc1111;
}

.cart {
  position: relative;
  border-right: 3px solid #ffffff;
  padding-right: 10px;
  height: 50px;
  padding-left: 50px;
}

.cart-img {
  position: absolute;
  /*не откого не зависит*/
  top: 18px;
  right: 7px;
}

.num {
  text-decoration: none;
  color: #fff;
  font-weight: 700;

  transition: color 0.3s linear;
}

.num:hover {
  color: #dc1111;
}

.phone-text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.phone-holder {
  display: flex;
  align-items: center;
}

.button {
  background-color: #ff7400;
  text-decoration: none;
  color: #fff;
  padding: 14px 17px;
  font-weight: 700;
  border-radius: 5px;

  transition: background-color 0.3s linear;
}

.button:hover {
  background-color: #a25618;
}

.header-down {
  position: relative;
}

.header-title {
  color: #d67e35;
  font-family: "Tinos", serif;
  font-size: 50px;
  font-weight: 400;

  text-align: center;
  position: absolute;
  left: 0;
  margin-top: 222px;
  margin-bottom: 12px;
}

.header-suptitle:before {
  position: absolute;
  content: "";
  width: 61px;
  height: 2px;
  background-color: #c4c4c4;
  top: 127px;
  left: 56px;
}

.header-suptitle {
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.header-suptitle:after {
  position: absolute;
  content: "";
  width: 61px;
  height: 2px;
  background-color: #c4c4c4;
  top: 127px;
  left: 308px;
}

.header-button {
  background-color: #ff7400;
  color: #fff;
  padding: 14px 28px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s linear;
}

.header-button:hover {
  background-color: #a25618;
}

.cards-holder {
  display: flex;
  /**расположение в строку, а не встрочку**/
  justify-content: center;
}

.card {
  box-shadow: 10px 10px 40px 20px #0000001a;
  width: 349px;
  margin-right: 31px;
  background-color: #fff;
  margin-top: -80px;
  padding: 10px 10px;
}

.card-image {
  display: flex;
  justify-content: center;
  padding-top: 31px;
}

.card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  font-family: "Tinos", serif;
  font-size: 26px;
  font-weight: 400;
}

.card-title span {
  color: #d67e35;
  margin-left: 4px;
}

.card-desc {
  text-align: center;

  font-family: "Tinos", serif;
  font-size: 26px;
  font-weight: 400;
  color: #656363;
}

.history {
  margin-top: 166px;
  padding-bottom: 200px;
}

.history-holder {
  display: flex;
}

.history-wrapper {
  width: 444px;
  height: 442px;
}

.history-title {
  height: 62px;
  color: #000000;
  font-family: "Tinos", serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  text-align: center;
  margin-bottom: 21px;
}

.history-title span {
  color: #d67e34;
}

.histry-desc {
  height: 217px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #656363;
}

.history-number {
  display: flex;
  justify-content: center;
}

.number-item {
  margin-right: 60px;
  color: #bc9060;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
}

.number-item span {
  display: block;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
}

.history-images {
  position: relative;
}

.imgages-1 {
  position: absolute;
  z-index: 999;
  top: 35px;
  left: 392px;
  width: 233px;
  height: 300px;
}

.imgages-2 {
  position: absolute;
  z-index: -1;
  top: -57px;
  left: 541px;
  width: 255px;
  height: 430px;
}

.imgages-3 {
  position: absolute;
  z-index: 1;
  top: 146px;
  left: 637px;
  width: 254px;
  height: 300px;
}

.black-block {
  background-image: url(bb.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}

.left-title {
  color: #ff7400;
  font-family: "Tinos", serif;
  font-size: 52px;
  font-weight: 400;
}

.left-text {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}

.right-btn {
  background-color: #ff7400;
  text-decoration: none;
  color: #fff;
  padding: 14px 17px;
  font-weight: 700;
  border-radius: 5px;
  margin-left: -238px;

  transition: background-color 0.3s linear;
}

.right-btn:hover {
  background-color: #a25618;
}

.block-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dishes-title {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-size: 52px;
  text-align: center;
  padding-top: 132px;
  margin-bottom: 139px;
}

.dishes-title span {
  color: #d67e34;
}

.burgers {
  display: flex;
  text-align: center;
  justify-content: center;
}

.burger-item {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}

.burger-image {
  margin-right: 250px;
}

.burger-text {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-size: 26px;
  margin-left: 20px;
}

.menu {
  background-image: url(menu-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.menu-title {
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: 400;
  font-size: 54px;
  color: #fff;
  padding-top: 98px;
  padding-bottom: 138px;
}

.menu-items {
  display: flex;
  justify-content: center;
}

.menu-item {
  background-color: #fff;
  text-align: center;
  width: 33%;
  padding-top: 80px;
  width: 350px;
  padding-bottom: 30px;
  margin-right: 20px;
}

.reccommended-wrapper {
  background-color: #d67e34;
  padding: 7px 11px 12px 11px;
  width: 124px;
  margin-top: -80px;
}

.menu-image {
  position: relative;
  padding-top: 80px;
}

.menu-img {
  border-radius: 50%;
}

.price-img {
  position: absolute;
  top: 205px;
  left: 192px;
}

.price-420 {
  position: absolute;
  top: 239px;
  left: 223px;
  font-family: "Cookie", cursive;
  font-size: 30px;
  font-weight: 400;
}

.menu-text {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-size: 26px;
  padding-bottom: 17px;
  padding-top: 16px;
}

.menu-subtext {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}

.menu-button {
  padding-top: 20px;
}

.menu-btn {
  background-color: #ff7400;
  text-decoration: none;
  color: #fff;
  padding: 14px 67px;
  font-weight: 700;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s linear;
}

.menu-btn:hover {
  background-color: #a25618;
}

.comment {
  background-color: #e5e5e5;
  padding-top: 104px;
  padding-bottom: 139px;
  text-align: center;
  margin-bottom: 20px;
}

.comment-text {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

.comment-img {
  border-radius: 50%;
}

.comment-type {
  padding-top: 17px;
  font-size: 20px;
  font-weight: 600;
}

.comment-name {
  padding-top: 9px;
  font-size: 20px;
  font-weight: 400;
}

.galery-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 60px;
}

.galery-title span {
  color: #d67e34;
}

.footer {
  background-color: #000000;
  padding: 50px 0px;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.galery-content {
  display: flex;
  justify-content: center;
}

.galery-left {
  margin-right: 20px;
}

.galery-down,
.galery-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cook-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.cook-title span {
  color: #d67e34;
}

.cook-content {
  display: flex;
  justify-content: space-around;
}

.burger-menu {
  display: none;
}

.burger-slide {
  position: absolute;
}

.block {
  display: block;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.disp {
  display: none;
}

.nav-item-mob {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;

  transition: color 0.3s linear;
  text-align: center;
}

.nav-item:hover {
  color: #dc1111;
}

@media (max-width: 3000px) {
  .menu-mob {
    display: none;
  }
}

@media (max-width: 1500px) {
  .left-text {
    padding-bottom: 20px;
  }

  .right-button {
    text-align: center;
  }

  .menu-mob {
    display: none;
  }

  .galery-content {
    display: block;
  }

  .img-gal,
  .galery-up,
  .galery-down {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .img-gal {
    margin-bottom: 20px;
  }

  .galery-left {
    margin-left: 0px;
  }

  .history-images {
    margin-left: -160px;
  }
}

@media (max-width: 1300px) {
  .menu-mob {
    display: none;
  }

  .header-title {
    margin-top: 123px;
  }

  .history-images {
    margin-left: -300px;
  }

  .histry-desc {
    font-size: 20px;
  }

  .history-number {
    margin-top: 30px;
  }

  .menu-items {
    display: block;
  }

  .menu-item {
    margin: 20px auto;
    width: 600px;
  }

  .menu-img {
    width: 300px;
    height: 300px;
    margin: auto;
  }

  .menu {
    margin: auto;
  }

  .price-img {
    margin-left: 134px;
    margin-top: 40px;
    width: 144px;
  }

  .price-420 {
    margin-left: 152px;
    margin-top: 55px;
    font-size: 40px;
  }

  .menu-text {
    padding-top: 30px;
  }

  .cook-img {
    margin-right: 20px;
  }
}

@media (max-width: 1200px) {
  .menu-mob {
    display: none;
  }

  .card-food {
    width: 400px;
  }

  .header-logo {
    margin-right: 20px;
  }

  .nav-item-last {
    margin-right: -0px;
  }

  .cook-content {
    display: block;
  }

  .cook-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .block-holder {
    display: block;
  }

  .left-title,
  .left-text {
    text-align: center;
  }

  .right-btn {
    text-align: center;
    margin: auto;
  }

  .history-holder {
    display: block;
  }

  .history-wrapper {
    width: auto;
    height: auto;
    display: block;
    text-align: center;
    align-items: center;
  }

  .history-images {
    margin-top: 90px;
    margin-bottom: 400px;
    text-align: center;
  }

  .burger-image {
    margin-right: 30px;
  }

  .burger-menu {
    display: block;
  }

  .nav,
  .cart,
  .phone-holder,
  .number,
  .phone-text,
  .btn {
    display: none;
  }

  .header-line {
    justify-content: space-between;
  }

  .cook-title {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .large-img {
    display: none;
  }

  .dishes-title {
    margin-top: -40px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1000px) {
  .header-down {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .cards-holder {
    display: block;
  }

  .card {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .history-images {
    display: none;
  }

  .menu-item {
    width: 100%;
  }

  .menu {
    display: none;
  }

  .menu-mob {
    display: block;
  }

  .menu-mob {
    background-image: url(menu-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
  }

  .menu-title1 {
    text-align: center;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-size: 54px;
    color: #fff;
    padding-top: 98px;
    padding-bottom: 138px;
  }

  .menu-items1 {
    display: block;
    justify-content: center;
  }

  .menu-item1 {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
    width: 350px;
    padding-bottom: 30px;
    margin: 20px auto;
  }

  .reccommended-wrapper1 {
    background-color: #d67e34;
    padding: 7px 11px 12px 11px;
    width: 124px;
    margin-top: -80px;
  }

  .menu-image1 {
    position: relative;
    padding-top: 80px;
    image-resolution: auto;
  }

  .menu-img1 {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }

  .price-img1 {
    position: absolute;
    top: 205px;
    left: 192px;
  }

  .menu-text1 {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-size: 26px;
    padding-bottom: 17px;
    padding-top: 16px;
  }

  .menu-subtext1 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
  }

  .menu-button1 {
    padding-top: 20px;
  }

  .menu-btn1 {
    background-color: #ff7400;
    text-decoration: none;
    color: #fff;
    padding: 14px 67px;
    font-weight: 700;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s linear;
  }

  .menu-btn1:hover {
    background-color: #a25618;
  }
}

@media (max-width: 800px) {
  .container {
    margin: 0px 40px 0px 40px;
  }

  .header-title {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .header-suptitle:before {
    content: none;
  }

  .header-suptitle:after {
    content: none;
  }

  .burger-image {
    display: none;
  }

  .history-number {
    padding-top: 69px;
    text-align: center;
  }

  .right-button {
    margin-top: auto;
  }

  .burger-slide {
    text-align: center;
    margin-left: -380px;
  }
}

@media (max-width: 760px) {
  .burger-slide {
    text-align: center;
    margin-left: -353px;
  }
}

@media (max-width: 700px) {
  .history-title {
    padding-bottom: 69px;
  }

  .history-number {
    padding-top: 80px;
    text-align: center;
  }

  .menu-item1 {
    width: auto;
  }

  .menu-img1 {
    width: auto;
  }

  .menu-text1 {
    font-size: 30px;
  }

  .menu-subtext1 {
    font-size: 25px;
  }

  .header-suptitle:before {
    content: none;
  }

  .header-suptitle:after {
    content: none;
  }

  .burger-slide {
    text-align: center;
    margin-left: -353px;
  }
}

@media (max-width: 650px) {
  .burger-slide {
    margin-left: -318px;
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .history-number {
    margin-top: 90px;
  }

  .burger-slide {
    margin-left: -270px;
    margin-top: 40px;
  }
}

@media (max-width: 550px) {
  .burger-slide {
    margin-left: -267px;
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .burger-slide {
    margin-left: -230px;
    margin-top: 40px;
  }
}

@media (max-width: 400px) {

  .header-suptitle,
  .header-button {
    font-size: 20px;
  }

  .histry-desc {
    font-size: 25px;
  }

  .number-item {
    padding-top: 20px;
    margin-right: 0px;
    padding-bottom: 20px;
  }

  .history {
    margin-bottom: -145px;
  }

  .cook-content img {
    width: 250px;
  }

  .history-number {
    display: block;
  }

  .galery-left {
    align-items: center;
  }

  .galery-left,
  .galery-right {
    width: 100px;
  }

  .burger-slide {
    margin-left: -183px;
    margin-top: 40px;
  }
}

@media (max-width: 350px) {
  .header-btn {
    width: 247px;
  }

  .left-title {
    font-size: 44px;
  }

  .histry-desc {
    line-height: 35px;
  }

  .history-number {
    padding-top: 532px;
  }

  .left-text {
    padding-top: 20px;
  }

  .right-button {
    padding-top: 20px;
  }

  .burger-slide {
    margin-left: -145px;
    margin-top: 40px;
  }
}